.outer {
    display: table;
    position: absolute;
}

.monitor {
    fill: white;
    stroke-width: 1px;
    stroke: black;
    opacity: 0.5;
    stroke-opacity: 1;
}

.monitor.selected {
    fill: steelblue;
}


.monitor.indexMonitor {
    fill: grey;
}


code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

    display: block;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
}