node_modules
src

**/src
**/node_modules
**/test
**/coverage

npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.gitignore
.git
.jshintrc
.remarkrc

renovate.json
pm2-windows.json

*.md
**/*.md

.vscode
.idea
