sudo: false
language: node_js
node_js: stable

services:
  - docker

install: npm install

stages:
  - test
  - name: publish
    if: tag IS present
  - name: deploy
    if: branch = master AND type != pull_request

jobs:
  include:
    - stage: test
      script: 
        - npm run lint 
        - npm run build:clean 
        - npm test
    - stage: publish
      script:
        - npm run build:clean
        - | 
          echo "@ove:registry=https://registry.npmjs.org/" >> $HOME/.npmrc 2> /dev/null
          echo "//registry.npmjs.org/:_authToken=\${NPM_PUBLISH_TOKEN}" >> $HOME/.npmrc 2> /dev/null
        - lerna publish from-package --yes
    - stage: deploy
      script:
        - echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin 
        - ./build.sh --push
