.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
    background-color: #0e0e0e;
    background: #222;
    color: #FFF;
    margin: 0px;
    overflow: hidden;
}
.video_player {
    position: fixed;
    top: 0;
    left: 0;
    border: 0px;
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0% 0%;
    -o-transform: scale(1);
    -o-transform-origin: 0% 0%;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    transform: scale(1);
}
