.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body {
    margin: 0 !important;
    background: #222;
    color: #FFF;
    font-family: Helvetica, serif;
}
