.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
    margin: 0px !important;
    background: #222;
    color: #FFF;
    font-family: helvetica;
}
