.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
    background-color: #0e0e0e;
    background: #222;
    color: #FFF;
    margin: 0px;
    overflow: hidden;
}
.wrapper, .html_frame {
    top: 0;
    left: 0;
    border: 0 none;
    display: block;
    width: 100%;
}
.wrapper {
    position: fixed;
}
.html_frame {
    position: absolute;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    zoom: 1;
}
